<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} | {{ config('app.name', 'Luthor Trust') }}</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('assets/images/favicon.svg') }}" />

        <!-- Global stylesheets -->
        <link href="{{ asset('assets/dashboard/fonts/inter/inter.css') }}?version={{ env('APP_VERSION') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/dashboard/icons/phosphor/styles.min.css') }}?version={{ env('APP_VERSION') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/dashboard/css/ltr/all.min.css') }}?version={{ env('APP_VERSION') }}" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

        <!-- Core JS files -->
        <script src="{{ asset('assets/dashboard/js/bootstrap/bootstrap.bundle.min.js') }}?version={{ env('APP_VERSION') }}"></script>
        <script src="{{ asset('assets/dashboard/js/app.js') }}?version={{ env('APP_VERSION') }}"></script>
        <!-- /core JS files -->

        {{ vite(['assets/js/app.js']) }}
    </head>

    <body class="navbar-bottom">

        {{ dump(app.user.firstName) }}

        <!-- Main navbar -->
        <div class="navbar navbar-dark navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10">
            <div class="container-fluid">
                <div class="d-flex d-lg-none me-2">
                    <button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
                        <i class="ph-list"></i>
                    </button>
                </div>

                <div class="navbar-brand flex-1 flex-lg-0">
                    <a class="d-inline-flex align-items-center" href="<?php echo $site->url; ?>/admin"><img src="<?php echo $site->url; ?>/assets/images/logo-white.svg?v=<?= DENOSYS_VERSION ?>" alt=""></a>
                </div>

                <ul class="nav flex-row justify-content-end order-1 order-lg-2">
                    <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
                        <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
                            <div class="status-indicator-container">
                                <img src="<?= $user->getPassport($uid) ?>" class="w-32px h-32px rounded-pill" alt="">
                                <span class="status-indicator bg-success"></span>
                            </div>
                            <span class="d-none d-lg-inline-block mx-lg-2"><?= $fullName; ?></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">
                                <i class="ph-user-circle me-2"></i>
                                My profile
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-currency-circle-dollar me-2"></i>
                                My subscription
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-shopping-cart me-2"></i>
                                My orders
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-envelope-open me-2"></i>
                                My inbox
                                <span class="badge bg-primary rounded-pill ms-auto">26</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="ph-gear me-2"></i>
                                Account settings
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="ph-sign-out me-2"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->

        <!-- Main navbar -->
        <div class="navbar navbar-inverse bg-white">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('backend.index') }}"><img src="{{ asset('assets/images/logo.svg') }}" alt=""></a>

                <ul class="nav navbar-nav visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                    <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">
                <p class="navbar-text"><span class="label bg-success-400">Administrator</span></p>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-user">
                        <a style="color: #333;" class="dropdown-toggle" data-toggle="dropdown">
        {#                    <span><?php echo $fullName; ?></span>#}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->

        <!-- Page container -->
        <div class="page-container">

            <!-- Page content -->
            <div class="page-content">
                {% if url_is('/admin*', current_url()) %}
                    {% include 'backend/include/menu.twig' %}
                {% else %}
                    {% include 'account/include/menu.twig' %}
                {% endif %}

                <div class="content-wrapper">

                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>
                </div>

            </div>
            <!-- /page content -->

        </div>

        <!-- Footer -->
        <div class="navbar navbar-default navbar-fixed-bottom footer">
            <ul class="nav navbar-nav visible-xs-block">
                <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
            </ul>

            <div class="navbar-collapse collapse" id="footer">
                <div class="navbar-text">
                    {{ config('app.name') }} &copy; {{ 'now'|date('Y') }}. All rights reserved.
                </div>
            </div>
        </div>
        <!-- /footer -->
    </body>
</html>
