{% macro paginate(items, routeName) %}
    <div class="d-flex justify-content-center">
        {% if items.hasToPaginate %}
            <ul class="pagination pagination-spaced">
                {% if items.hasPreviousPage %}
                    <li class="page-item">
                        <a class="page-link rounded" href="{{ url_for(routeName, {page: 1}) }}">
                            <span>First</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link rounded" href="{{ url_for(routeName, {page: items.previousPage}) }}" rel="previous">
                            Previous
                        </a>
                    </li>
                {% endif %}

                {% set windowSize = 11 %}
                {% set startPage = (items.currentPage - windowSize//2) > 0 ? (items.currentPage - windowSize//2) : 1 %}
                {% set endPage = (startPage + windowSize - 1) < items.lastPage ? (startPage + windowSize - 1) : items.lastPage %}

                {% for i in startPage..endPage %}
                    {% if i == items.currentPage %}
                        <li class="page-item active">
                            <span class="page-link rounded">{{ i }} <span class="sr-only">{{ 'Current' }}</span></span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link rounded" href="{{ url_for(routeName, {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if items.hasNextPage %}
                    <li class="page-item">
                        <a class="page-link rounded" href="{{ url_for(routeName, {page: items.nextPage}) }}">
                            <span>Next</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link rounded" href="{{ url_for(routeName, {page: items.lastPage}) }}">
                            <span>Last</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}