<header id="header" class="header-effect-shrink"
        data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 85}">
    <div class="header-body border-0">
        <div class="header-container container" style="height: 115px;">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ url_for('home') }}">
                                <img alt="{{ config('app.name') }}" width="260"
                                     src="{{ asset('assets/images/logo.svg') }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-links">
                            <div
                                class="header-nav-main header-nav-main-text-capitalize header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="nav-link {{ is_current_url('home') ? 'active' }}"
                                               href="{{ url_for('home') }}">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ is_current_url('loans') ? 'active' }}"
                                               href="{{ url_for('loans') }}">
                                                Loans
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ is_current_url('mortgage') ? 'active' }}"
                                               href="{{ url_for('mortgage') }}">
                                                Mortgage
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ is_current_url('investments') ? 'active' }}"
                                               href="{{ url_for('investments') }}">
                                                Investments
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ is_current_url('digital-services') ? 'active' }}"
                                               href="{{ url_for('digital-services') }}">
                                                Digital Services
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link {{ is_current_url('contact') ? 'active' }}"
                                               href="{{ url_for('contact') }}">
                                                Contact
                                            </a>
                                        </li>
                                        <li class="d-md-none">
                                            <a class="nav-link {{ is_current_url('login') ? 'active' }}"
                                               href="{{ url_for('login') }}">
                                                Online Banking
                                            </a>
                                        </li>
                                        {#                                        <li class="d-md-none"> #}
                                        {#                                                    <span class="language-switcher-form" style="padding-top:7px;display: flex;justify-content: end;"> #}
                                        {#                                                        <?php include __DIR__ . '/include/language-switcher.php'; ?> #}
                                        {#                                                    </span> #}
                                        {#                                        </li> #}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <ul class="header-extra-info ms-5-5 d-none d-md-block">
                            <li class="d-inline-flex ms-0">
                                <div class="header-extra-info-text line-height-2 d-flex">
                                            <span class="language-switcher-form align-self-center me-3">
{#                                                {% include 'include/language-switcher.twig' %} #}
                                            </span>
                                </div>
                                <div class="header-extra-info-text line-height-2">
                                    <a class="btn btn-primary text-white" href="{{ url_for('login') }}">Online
                                        Banking</a>
                                </div>
                            </li>
                        </ul>
                        <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse"
                                data-bs-target=".header-nav-main nav">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
